<html>
<head>
  <link href="{{ url_for('static', filename='css/main.css') }} "
  rel="stylesheet" >
  <title>Tree species</title>
</head>
<body>
  <h1><u>List of Native trees:</u></h1>
    <ul>
      <strong><li><a href="/alders/">Alders</a></strong>
        <p>Type(s) of this tree:
        <ol>
          <li><a href="/alders/alder/">Alder<i>(Alnus glutinosa)</i></a></li>
        </ol>
        </p>
      </li>
      <strong><li><a href="/apples/">Apples</a></strong>
        <p>Type(s) of this tree:
        <ol>
          <li><a href="/apples/crabapple/">Crab Apple <i>(Malus
          sylvestris)</i></a></li>
        </ol>
        </p>
      </li>
      <strong><li><a href="/ashes/">Ashes</a></strong>
        <p>Type(s) of this tree:
        <ol>
          <li><a href="/ashes/commonash/">Common Ash <i>(Fraxinus
          excelsior)</i></a></li>
        </ol>
        </p>
      </li>
      <strong><li><a href="/birches/">Birches</a></strong>
        <p>Type(s) of this tree:
        <ol>
          <li><a href="/birches/silverbirch/">Silver Birch <i>(Betula
          pendula)</i></a></li>
          <li><a href="/birches/downybirch/">Downy Birch <i>(Betula
          pubescens)</i></a></li>
        </ol>
        </p>
      </li>
    </ul>

    &nbsp;
   <h2>Admin Area</h2> 
    <p><a href="/privatearea/">This area is ONLY for admins.</a></p>

</body>
</html>
