<html>
<head>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/motortypes.css') }}" rel="stylesheet" />

</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigaation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/user/">Life on Two Wheels</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/user/">Home</a></li>
        <li role="presentation" class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Motors
        <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><a href="/user/motocross/">Motocross</a></li>
            <li><a href="/user/sportbike/">Sportbike</a></li>
            <li class="active"><a href="">Cruiser</a></li>
          </ul>
        </li>
        <li><a href="/user/uploadfiles/">Upload</a></li>
        <li class="navbar-right logout"><a href="/logout/">Log out</a></li>
      <ul>

    </div>
  </div>
  </nav>

  <div class="container">
    <div class="motortype-heading text-center">
      <h2>Cruiser</h2>
    </div>
  </div>
  <div class="container">
    <div class="motor-image col-lg-3">
      <img src="/static/img/cruiser.jpg" class="img-responsive"/>
    </div>

    <div class="paragraph-text col-lg-8 col-lg-offset-1">
      <p>Cruisers are styled after American machines from the 1930s to the
      early 1960s, such as those made by Harley-Davidson, Indian, and
      Excelsior-Henderson. Harley-Davidsons largely define the cruiser
      category, and large-displacement V-twin engines are the norm, although
      other engine configurations and small to medium displacements also exist.
      Their engines are tuned for low-end torque, making them less demanding to
      ride because it is not necessary to shift as frequently to accelerate or
      maintain control.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="quotes">
    <a href="/user/cruiser/cruiserquote/">Show quote</a>
    {% block content %} {% endblock %}
    </div>
  </div>
  </div>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container text-center footy">
      &copy; Copyright, Life on Two Wheels<br />
      All Rights reserved, 2015
    </div>
  </nav>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>
