<html>
<head>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/motortypes.css') }}" rel="stylesheet" />

</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigaation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/user/">Life on Two Wheels</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/user/">Home</a></li>
        <li role="presentation" class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Motors
        <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li class="active"><a href="">Motocross</a></li>
            <li><a href="/user/sportbike/">Sportbike</a></li>
            <li><a href="/user/cruiser/">Cruiser</a></li>
          </ul>
        
        </li>
        <li><a href="/user/uploadfiles/">Upload</a></li>
        <li class="navbar-right logout"><a href="/logout/">Log out</a></li>
      <ul>

    </div>
  </div>
  </nav>

  <div class="container">
    <div class="motortype-heading text-center">
      <h2>Motocross</h2>
    </div>
  </div>
  <div class="container">
    <div class="motor-image col-lg-3">
      <img src="/static/img/motocross.jpg" class="img-responsive"/>
    </div>

    <div class="paragraph-text col-lg-8 col-lg-offset-1">
      <p>Such bikes (once called "scramblers") are raced on short, closed
      off-road tacks with a variety of obstacles. The motorcycles have a small
      fuel tank for lightness and compactness. Long-travel suspension allows
      riders to take jumps at high speed. Motocross engines are usually
      single-cylinder two-stroke or four-stroke units, which vary in size from
      50cc up to about 650cc. Motocross sidecar outfits have bigger engines,
      usually four-stroke and often twin-cylinder. Motocross bikes are also
      used in Freestyle Motocross.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="quotes">
    <a href="/user/motocross/motoquote/">Show quote</a>
    {% block content %} {% endblock %}
    </div>
  </div>
  </div>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container text-center footy">
      &copy; Copyright, Life on Two Wheels<br />
      All Rights reserved, 2015
    </div>
  </nav>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>
