<html>
<head>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/motortypes.css') }}" rel="stylesheet" />

</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigaation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/user/">Life on Two Wheels</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/user/">Home</a></li>
        <li role="presentation" class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Motors
        <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><a href="/user/motocross/">Motocross</a></li>
            <li class="active"><a href="">Sportbike</a></li>
            <li><a href="/user/cruiser/">Cruiser</a></li>
          </ul>
        </li>
        <li><a href="/user/uploadfiles/">Upload</a></li>
        <li class="navbar-right logout"><a href="/logout/">Log out</a></li>
      <ul>

    </div>
  </div>
  </nav>

  <div class="container">
    <div class="motortype-heading text-center">
      <h2>Sport bike</h2>
    </div>
  </div>
  <div class="container">
    <div class="motor-image col-lg-3">
      <img src="/static/img/sportbike.jpg" class="img-responsive" />
    </div>

    <div class="paragraph-text col-lg-8 col-lg-offset-1">
      <p>Sport bikes emphasize speed, acceleration, braking, and cornering on
      paved roads, typically at the expense of comfort and fuel economy in
      comparison to less specialized motorcycles. Because of this, there are
      certain design elements that most motorcycles of this type will share.
      Sport bikes have comparatively high performance engines resting inside a
      lightweight frame.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="quotes">
    <a href="/user/sportbike/sportquote/">Show quote</a>
    {% block content %} {% endblock %}
    </div>
  </div>
  </div>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container text-center footy">
      &copy; Copyright, Life on Two Wheels<br />
      All Rights reserved, 2015
    </div>
  </nav>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>
