

body {color: #545b5d; font-family: Arial; }
h1 { color: #cd5323; font-family: Arial; }
a { color: #41494b; text-decoration: none; }
a:hover { color: 23841a;  text-decoration: underline; }
p a:hover { color: #d7754e; }


